<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="urlrewritingnet" restartOnExternalChanges="true" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
  </configSections>
  <appSettings>
    <add key="pagedSPName" value="P_GetPagedOrders2000" />
  </appSettings>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="default.aspx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <add name="Rule1" virtualUrl="^~/Url重写/第(\d+)页.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/UrlRewriting/default.aspx?page=$1" ignoreCase="true" />
    </rewrites>
  </urlrewritingnet>
  <connectionStrings>
    <!--Sql server express connection string-->
    <!--<add name="SqlConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFileName=|DataDirectory|NorthWnd2.mdf;Integrated Security=True;User Instance=true" providerName="System.Data.SqlClient" />-->
    <!-- Sql LocalDB connection string for VS2012 -->
    <add name="SqlConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|NorthWnd.mdf;Initial Catalog=NorthWnd;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager" />
      </controls>
    </pages>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </httpModules>
    <compilation debug="true" defaultLanguage="C#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <globalization culture="zh-CN" uiCulture="zh-CN"/>
  </system.web>
</configuration>